.newsbox{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
  gap: 10px;
}
.box{
  box-shadow: 4px 9px 13px rgb(118, 114, 114);
}
.body{
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(143, 143, 141));
}